{% load static %}
<footer class="bg-[var(--color-primary)] text-white">
  
  <div class="container mx-auto flex flex-col items-center gap-y-6 lg:flex-row lg:justify-between lg:items-center px-12 py-6">

    <!--Logo (Bagian Kiri)-->
    <div class="flex-shrink-0">
      <img src="{% static 'image/logo.png' %}" alt="Logo" class="h-14">
    </div>

    <!--Data Pembuat-->
    <div class="flex flex-col">
      <p class="text-sm font-bold text-white mb-2 text-center lg:text-right">Created by:</p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">

        <div class="text-center lg:text-right">
          <p class="font-semibold text-sm truncate">Amelia Juliawati</p>
          <p class="text-xs text-gray-200 truncate">2406414076</p>
        </div>

        <div class="text-center lg:text-right">
          <p class="font-semibold text-sm truncate">Giselle Julia R.</p>
          <p class="text-xs text-gray-200 truncate">2406415116</p>
        </div>

        <div class="text-center lg:text-right">
          <p class="font-semibold text-sm truncate">Gusti Niera F. A.</p>
          <p class="text-xs text-gray-200 truncate">2406496403</p>
        </div>

        <div class="text-center lg:text-right">
          <p class="font-semibold text-sm truncate">Febriyanti</p>
          <p class="text-xs text-gray-200 truncate">2406496214</p>
        </div>

        <div class="text-center lg:text-right">
          <p class="font-semibold text-sm truncate">Samuel M. T.</p>
          <p class="text-xs text-gray-200 truncate">2406435830</p>
        </div>

        <div class="text-center lg:text-right">
          <p class="font-semibold text-sm truncate">Elsa Mayora S.</p>
          <p class="text-xs text-gray-200 truncate">2406353250</p>
        </div>

      </div>
    </div>
  </div>
</footer>